$normal: 22px;
$borderStyle: dashed;
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=teko:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=poppins:wght@800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "preeti";
  src: url(/fonts/PREETI.TTF);
}
@font-face {
  font-family: "arap 11";
  src: url("/fonts/ARAP\ 11\ Regular.ttf");
}
@font-face {
  font-family: "himchuli";
  src: url("/fonts/Himchuli\ Bold.ttf");
}
@font-face {
  font-family: "kantipur";
  src: url("/fonts/Kantipur\ Reg.ttf");
}
@font-face {
  font-family: "fontasy himali";
  src: url("/fonts/Fontasy\ Himali\ Regular.ttf");
}
body {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: #c1cde6;
  position: relative;
}
button {
  background-color: rgb(70, 160, 52);
  color: white;
  padding: 10px 35px 10px 45px;
  border-radius: 3px;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.25);
  font-family: "arap 11", sans-serif;
  font-size: $normal;
  transition: box-shadow ease-in-out 300ms;
  position: relative;
  cursor: url("/images/print-icon.png"), pointer; // CUSTOM image Cursor as a POINTER
  &:hover {
    box-shadow: 0px 6px 10px -1px rgba(0, 0, 0, 0.25);
  }
  img {
    position: absolute;
    top: 8px;
    left: 8px;
  }
}
.hide {
  display: none;
}
.app {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  // padding: 0px 0px 10px 0;
  .front-view {
    font-family: "preeti", sans-serif;
    border-radius: 5px;
    padding: 10px 24px 5px 24px;
    height: 1122.24px;
    width: 793.92px;
    background-color: #f7f7f7;
    box-shadow: 0px 6px 15px -1px rgba(0, 0, 0, 0.25);
    transition: box-shadow ease-in-out 300ms;
    &:hover {
      box-shadow: 6px 0px 20px -1px rgba(0, 0, 0, 0.25);
    }
    position: relative;
    .letter {
      .header {
        display: block;
        border-bottom: 4px ridge black;
        border-radius: 10px;
        margin-bottom: 0px;
        padding-bottom: 10px;
        transition: all ease-in-out 300ms;
        position: relative;
        .logo {
          position: absolute;
          left: 16px;
          top: 4px;
          width: 111px;
          height: 111px;
        }
        .center {
          text-align: center;
          .slogan {
            font-size: $normal;
            font-style: italic;
          }
          .name {
            font-family: "Arap 11", sans-serif;
            font-size: 50px;
            font-weight: 600;
          }
          .address {
            font-size: $normal + 2;
          }
          .estd {
            font-size: $normal;
          }
        }
        .meta {
          padding: 0 15px;
          padding-right: 5px;
          display: flex;
          align-items: start;
          justify-content: space-between;
          height: 100%;
          position: relative;
          .left {
            font-size: 21px;
            .wrapper {
              .fiscal-year {
                span.year {
                  font-size: 15px;
                  font-family: "fontasy himali", sans-serif;
                }
              }
              .letterNumber {
                span.refNo {
                  font-size: 15px;
                  font-family: "fontasy himali", sans-serif;
                }
              }
            }
          }
          .right {
            font-size: 21px;
            position: absolute;
            bottom: 0px;
            right: 0px;
            padding-right: 5px;
            span.date {
              font-size: 15px;
              font-family: "fontasy himali", sans-serif;
            }
          }
        }
      }
      .main {
        margin: 0;
        padding: 0 10px;
        padding-top: 10px;
        .to {
          text-align: left;
          font-size: $normal;
        }
        .wrapper {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          .subject {
            font-family: "himchuli", sans-serif;
            // font-weight: bold;
            display: inline-block;
            font-size: $normal + 3;
            text-align: center;
            margin: 12px 0;
            border-bottom: 1px solid #000;
          }
        }
        .content {
          &::before {
            content: "filler";
            opacity: 0;
          }
          text-align: justify;
          font-size: $normal;
          line-height: 1em;
          table {
            margin-top: 5px;
            width: 100%;
            border: 1px $borderStyle black;
            thead {
              border: 1px $borderStyle black;
              font-family: "kantipur", sans-serif;
              font-size: 22px;
              td.tableHead {
                padding: 2px 10px;
                border-left: 1px $borderStyle black;
                text-align: center;
                font-weight: bold;
                &:nth-child(1) {
                  border-left: none;
                }
              }
            }
            tr {
              td.teachersData {
                justify-content: center;
                border-top: 1px $borderStyle black;
                border-left: 1px $borderStyle black;
                padding: 0px;
                padding-left: 10px;
                padding-right: 5px;
                font-size: 22px;
                &:nth-child(1) {
                  border-left: none;
                  font-family: "fontasy himali", sans-serif;
                  font-size: 14px;
                  text-align: right;
                }
                &:nth-child(4) {
                  font-family: "fontasy himali", sans-serif;
                  font-size: 14px;
                  text-align: right;
                  &::after {
                    content: "";
                  }
                }
                &:nth-child(5) {
                  font-family: "fontasy himali", sans-serif;
                  font-size: 14px;
                  text-align: right;
                }
                &:nth-last-child() {
                  border: none;
                }
              }
            }
          }
          span {
            font-family: "kantipur", sans-serif;
            font-weight: bold;
          }
          span.values {
            font-family: "fontasy himali", sans-serif;
            font-weight: normal;
            font-size: 18px;
          }
          .wrapper {
            width: 100%;
            display: flex;
            align-items: right;
            justify-content: flex-end;
            margin-top: 20px;
            .sign-by {
              font-size: $normal;
              width: 200px;
              text-align: right;
              padding-top: 5px;
              margin-top: 20px;
              border-top: 2px dotted black;
            }
          }
        }
      }
      .footer {
        position: absolute;
        bottom: 0px;
        left: 0px;
        padding: 8px 0px;
        width: 100%;
        font-family: "Times new Roman", serif;
        .wrapper {
          padding-top: 5px;
          border-top: 0.5px dashed black;
          display: flex;
          align-items: center;
          justify-content: center;

          .email {
            position: relative;
            font-family: "Times new Roman", serif;
            text-align: center;
            font-size: 18px;
            span.period {
              position: absolute;
              right: -1px;
              bottom: 0px;
              font-size: $normal + 5;
              font-weight: bold;
            }
          }
          .phone {
            span.post {
              font-size: 22px;
              font-family: "preeti", sans-serif;
            }
            font-family: "fontasy himali", sans-serif;
            text-align: center;
          }
        }
      }
    }
  }
}
