<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>माग फारम - <%= schoolName %></title>
    <%- include('../parts/favicon.ejs') %>
  </head>
  <body>
    <h1>तपाई अहिले --सञ्चयकोष-- को पेजमा हुनुहुन्छ।</h1>
  </body>
</html>
